In [1]:
import pandas as pd

In [2]:
file_path = '../RawData/surgery_indicator.csv'
surgery_data = pd.read_csv(file_path)

surgery_data.head()

,ข้อมูลตัวชี้วัด กลุ่มด้านมะเร็ง,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ข้อมูล/ตัวชี้วัด,เป้าหมาย,ปี 2561,ปี 2562,ปี 2563,ปี 2564,ปี 2565,ปี 2566,NaN
2,NaN,ปีปัจจุบัน,NaN,NaN,NaN,NaN,NaN,มค-มิย66,NaN
3,1.ผู้ป่วยกลุ่มมะเร็ง,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,เรื่อง PPS ใช้เกณฑ์ palliative care,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
surgery_data_cleaned = surgery_data.dropna(axis=0, how='all').dropna(axis=1, how='all')

header_row_index = None
for idx, row in surgery_data_cleaned.iterrows():
    if idx > 0 and not surgery_data_cleaned.iloc[idx - 1].isna().all():
        header_row_index = idx - 1
        break

header_row_index, surgery_data_cleaned.head(100)

(0,
                        ข้อมูลตัวชี้วัด กลุ่มด้านมะเร็ง  Unnamed: 1 Unnamed: 2  \
 1                                    ข้อมูล/ตัวชี้วัด     เป้าหมาย    ปี 2561
 2                                                  NaN  ปีปัจจุบัน        NaN
 3                                 1.ผู้ป่วยกลุ่มมะเร็ง         NaN        NaN
 4                  เรื่อง PPS ใช้เกณฑ์ palliative care         NaN        NaN
 5    อัตราผู้ป่วยระยะสุดท้ายที่ได้รับการตอบสนองความ...           1        100
 ..                                                 ...         ...        ...
 96                       ศูนย์เคมีบำบัดว่องวานิชชั้น 8         NaN          0
 97                                                 NaN         NaN      0/185
 98                เรื่อง Hypersensitivity ในยาแต่ละ...         NaN        NaN
 99   อัตราการเกิดภาวะHypersensitivity จากยา Taxol g...         <2%       4.48
 100                                                NaN         NaN  (83/1851)

      Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6 Unnamed: 7
 1       ปี 2562     ปี 2563     ปี 2564     ปี 2565    ปี 2566
 2           NaN         NaN         NaN         NaN   มค-มิย66
 3           NaN         NaN         NaN         NaN        NaN
 4           NaN         NaN         NaN         NaN        NaN
 5           100         100         100         100        NaN
 ..          ...         ...         ...         ...        ...
 96            0           0           0           0          0
 97        0/400       0/466      0/1520      0/1718    (0/889)
 98          NaN         NaN         NaN         NaN        NaN
 99         1.94        3.51        3.27        3.42        NaN
 100  (102/5246)  (193/5502)  (164/5011)  (167/4877)        NaN

 [100 rows x 8 columns])

In [4]:
surgery_data_cleaned = pd.read_csv(file_path, header=1)

surgery_data_cleaned = surgery_data_cleaned.dropna(thresh=surgery_data_cleaned.shape[1] - 2)

surgery_data_cleaned.head(100)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,ข้อมูล/ตัวชี้วัด,เป้าหมาย,ปี 2561,ปี 2562,ปี 2563,ปี 2564,ปี 2565,ปี 2566,NaN
4,อัตราผู้ป่วยระยะสุดท้ายที่ได้รับการตอบสนองความ...,1,100,100,100,100,100,NaN,NaN
8,ภส 23B,NaN,100,100,100,100,100,100,NaN
17,อัตราการเกิด Extravasation จากเคมีบำบัดกลุ่ม V...,1,99.3,99.73,99.85,99.84,99.89,NaN,NaN
33,ภส 1C,NaN,99.94,100,99.91,100,99.94,99.89,NaN
...,...,...,...,...,...,...,...,...,...
382,ว่องวานิชชั้น 7,NaN,57.14,55.55,66.66,6.25,8.7,0,NaN
385,ว่องวานิชชั้น 1,NaN,48.68,59.47,98.38,98.09,67.32,24.53,NaN
389,อัตราการเกิด Oral mucositis grade 3 ในผู้ป่วยฉ...,0,0.41,0.47,1.08,0.31,0.15,NaN,NaN
391,ว่องวานิชชั้น 5,NaN,6.25,10,3.57,1.17,1.47,2.7,NaN
394,ว่องวานิชชั้น 6,NaN,0,0,7.69,0,0,0,NaN

In [5]:
surgery_data_cleaned = surgery_data_cleaned.iloc[1:].dropna(axis=1, how='all')

column_names = {
    'Unnamed: 0': 'Indicator',
    'Unnamed: 1': 'Target',
    'Unnamed: 2': 'Year_2561',
    'Unnamed: 3': 'Year_2562',
    'Unnamed: 4': 'Year_2563',
    'Unnamed: 5': 'Year_2564',
    'Unnamed: 6': 'Year_2565',
    'Unnamed: 7': 'Year_2566',
}
surgery_data_cleaned = surgery_data_cleaned.rename(columns=column_names)

surgery_data_cleaned.head()

,Indicator,Target,Year_2561,Year_2562,Year_2563,Year_2564,Year_2565,Year_2566
4,อัตราผู้ป่วยระยะสุดท้ายที่ได้รับการตอบสนองความ...,1,100,100,100,100,100,NaN
8,ภส 23B,NaN,100,100,100,100,100,100
17,อัตราการเกิด Extravasation จากเคมีบำบัดกลุ่ม V...,1,99.3,99.73,99.85,99.84,99.89,NaN
33,ภส 1C,NaN,99.94,100,99.91,100,99.94,99.89
35,ศูนย์เคมีบำบัดว่องวานิชชั้น 8,NaN,99.46,99.75,99.79,100,99.94,99.88

In [6]:
missing_values = surgery_data_cleaned.isna().sum()
missing_values

Indicator     0
Target       94
Year_2561     0
Year_2562     0
Year_2563     0
Year_2564     0
Year_2565     0
Year_2566    58
dtype: int64

In [7]:
surgery_data_cleaned.head()

,Indicator,Target,Year_2561,Year_2562,Year_2563,Year_2564,Year_2565,Year_2566
4,อัตราผู้ป่วยระยะสุดท้ายที่ได้รับการตอบสนองความ...,1,100,100,100,100,100,NaN
8,ภส 23B,NaN,100,100,100,100,100,100
17,อัตราการเกิด Extravasation จากเคมีบำบัดกลุ่ม V...,1,99.3,99.73,99.85,99.84,99.89,NaN
33,ภส 1C,NaN,99.94,100,99.91,100,99.94,99.89
35,ศูนย์เคมีบำบัดว่องวานิชชั้น 8,NaN,99.46,99.75,99.79,100,99.94,99.88

In [10]:
from googletrans import Translator

translator = Translator()

try:
    surgery_data_cleaned['Indicator'] = surgery_data_cleaned['Indicator'].apply(
        lambda x: translator.translate(x, src='th', dest='en').text
    )
except AttributeError as e:
    print(f"An error occurred: {e}")

surgery_data_cleaned.head(100)

An error occurred: 'NoneType' object has no attribute 'group'

,Indicator,Target,Year_2561,Year_2562,Year_2563,Year_2564,Year_2565,Year_2566
4,อัตราผู้ป่วยระยะสุดท้ายที่ได้รับการตอบสนองความ...,1,100,100,100,100,100,NaN
8,ภส 23B,NaN,100,100,100,100,100,100
17,อัตราการเกิด Extravasation จากเคมีบำบัดกลุ่ม V...,1,99.3,99.73,99.85,99.84,99.89,NaN
33,ภส 1C,NaN,99.94,100,99.91,100,99.94,99.89
35,ศูนย์เคมีบำบัดว่องวานิชชั้น 8,NaN,99.46,99.75,99.79,100,99.94,99.88
...,...,...,...,...,...,...,...,...
385,ว่องวานิชชั้น 1,NaN,48.68,59.47,98.38,98.09,67.32,24.53
389,อัตราการเกิด Oral mucositis grade 3 ในผู้ป่วยฉ...,0,0.41,0.47,1.08,0.31,0.15,NaN
391,ว่องวานิชชั้น 5,NaN,6.25,10,3.57,1.17,1.47,2.7
394,ว่องวานิชชั้น 6,NaN,0,0,7.69,0,0,0
396,ว่องวานิชชั้น 7,NaN,0,0,0,0,0,12.5

In [11]:
unique_target_values = surgery_data_cleaned['Target'].dropna().unique()
unique_target_values

array(['1', '0', '<2%', '<0.5%', '<20%', '<15%', '<5%', '<10%'],
      dtype=object)

In [12]:
surgery_data_cleaned['Target'].fillna(-1, inplace=True)

surgery_data_cleaned.head()

,Indicator,Target,Year_2561,Year_2562,Year_2563,Year_2564,Year_2565,Year_2566
4,อัตราผู้ป่วยระยะสุดท้ายที่ได้รับการตอบสนองความ...,1,100,100,100,100,100,NaN
8,ภส 23B,-1,100,100,100,100,100,100
17,อัตราการเกิด Extravasation จากเคมีบำบัดกลุ่ม V...,1,99.3,99.73,99.85,99.84,99.89,NaN
33,ภส 1C,-1,99.94,100,99.91,100,99.94,99.89
35,ศูนย์เคมีบำบัดว่องวานิชชั้น 8,-1,99.46,99.75,99.79,100,99.94,99.88

In [ ]:
surgery_data.to_csv("clean.csv")

In [ ]:
# TODO: translate via https://pythainlp.github.io/tutorials/notebooks/machine_translation.html